# Topic Modelling
Data Science Workflow:
1. Start with a question 
2. Get & Clean the data   
3. Perform EDA
4. Apply Techniques
    - **Input:** clean data, plus we have verified that the data makes sense
    - **NLP Techniques:** advanced analysis techniques, in this case, they are specifically designed for text data
    - **Output:** additional insights about our data to help us answer our question, "how is Ali Wong different?"
5. Share Insights

## Topic Modeling
- **Input:** A document-term matrix. Each topic will consist of a set of wprds where order does not matter, so we are going to start with the bag of words format.
- **genism:** genism is a Python toolkit built by Radim Rehurek specifically for topic modeling. We are going to a popular topic modeling technique called Latent Dirichlet Allocation (LDA). We are also going to use **nltk** for some parts-of-speech tagging.
- **Output:** Our goal is to find themes across various comedy routines, and see which comedians tend to talk about which themes.

### Latent Dirichlet Allocation
Latent -- > hidden <br>
Dirichlet --> types of probability distribution

### How LDA works?
- **Goal:** - You want LDA to learn the topic mix in each document, and the word mix in each topic
- **Input:** - Document-Term Matrix, number of topics, number of iterations
- genism will go through the process of finding the best word idstribution for each topic and best topic distribution for each document.
- **Output:** *The top words in each topic*. It is your job as a human to interpret this and see if the results makes sense. If not, try altering the parameters - terms in the document-term matrix, number of topics, number of iterations, etc, *Stop when the topics make sense*.
- This is a probabilisatic approach to topic modelling. There are also matriz factorization techniques for topic modeling such as **Latent Semantic Indexing (LSI)** and **Non-Negative Matrix Factorization (NMF)**

## 1.2 Topic Modelling -  Attempt #1 (All Text)

In [1]:
# Let's read in our document-term matrix
import pandas as pd
import pickle

data = pd.read_pickle('dtm_stop.pkl')
data

,aaaaah,aaaaahhhhhhh,aaaaauuugghhhhhh,aaaahhhhh,aaah,aah,abc,abcs,ability,abject,...,zee,zen,zeppelin,zero,zillion,zombie,zombies,zoning,zoo,éclair
ali,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
anthony,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
bill,1,0,0,0,0,0,0,1,0,0,...,0,0,0,1,1,1,1,1,0,0
bo,0,1,1,1,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
dave,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
hasan,0,0,0,0,0,0,0,0,0,0,...,2,1,0,1,0,0,0,0,0,0
jim,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
joe,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
john,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
louis,0,0,0,0,0,3,0,0,0,0,...,0,0,0,2,0,0,0,0,0,0
mike,0,0,0,0,0,0,0,0,0,0,...,0,0,2,1,0,0,0,0,0,0
ricky,0,0,0,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,1,0

In [2]:
# Import the necessary modules for LDA with gensim
# Terminal / Anaconda Navigator: conda install -c conda-forge gensim
from gensim import matutils, models
import scipy.sparse

# import logging
# logging.basicConfig(format='%(asctime)s : %(levelname)s : %(message)s', level=logging.INFO)

In [3]:
# One of the required inputs is a term-document matrix
tdm = data.transpose()
tdm.head()

,ali,anthony,bill,bo,dave,hasan,jim,joe,john,louis,mike,ricky
aaaaah,0,0,1,0,0,0,0,0,0,0,0,0
aaaaahhhhhhh,0,0,0,1,0,0,0,0,0,0,0,0
aaaaauuugghhhhhh,0,0,0,1,0,0,0,0,0,0,0,0
aaaahhhhh,0,0,0,1,0,0,0,0,0,0,0,0
aaah,0,0,0,0,1,0,0,0,0,0,0,0

In [4]:
# We're going to put the term-document matrix into a new gensim format, 
# from df --> sparse matrix --> gensim corpus
sparse_counts = scipy.sparse.csr_matrix(tdm)
corpus = matutils.Sparse2Corpus(sparse_counts)

In [6]:
# Gensim also requires dictionary of the all terms and their respective location in the term-document matrix
cv = pickle.load(open("cv_stop.pkl", "rb"))
id2word = dict((v, k) for k, v in cv.vocabulary_.items())
# id2word

{3680: 'ladies',
 2750: 'gentlemen',
 7246: 'welcome',
 6269: 'stage',
 156: 'ali',
 7353: 'wong',
 3095: 'hi',
 3074: 'hello',
 6658: 'thank',
 1354: 'coming',
 5907: 'shit',
 1041: 'cause',
 4795: 'pee',
 4200: 'minutes',
 2270: 'everybody',
 6971: 'um',
 2294: 'exciting',
 1706: 'day',
 7419: 'year',
 6921: 'turned',
 7428: 'yes',
 282: 'appreciate',
 6967: 'uh',
 6614: 'tell',
 2764: 'getting',
 4564: 'older',
 2780: 'girl',
 411: 'automatic',
 6692: 'thought',
 2664: 'fuck',
 6372: 'straight',
 3491: 'jealous',
 2596: 'foremost',
 4145: 'metabolism',
 2783: 'girls',
 2101: 'eat',
 6018: 'sixpack',
 6662: 'thatthat',
 550: 'beautiful',
 3364: 'inner',
 6680: 'thigh',
 1244: 'clearance',
 2428: 'feet',
 6674: 'theres',
 3227: 'huge',
 2707: 'gap',
 3814: 'light',
 5031: 'potential',
 5259: 'radiating',
 6709: 'throughand',
 6052: 'sleep',
 3377: 'insomnia',
 194: 'ambien',
 1991: 'download',
 4101: 'meditation',
 4518: 'oasis',
 4958: 'podcast',
 948: 'calm',
 1119: 'chatter',
 5392: 'regret',
 5459: 'resentment',
 2379: 'family',
 1294: 'cluttering',
 4182: 'mind',
 3847: 'lives',
 122: 'ahead',
 3222: 'hpv',
 4783: 'peace',
 4452: 'night',
 4561: 'ok',
 1338: 'come',
 2670: 'fucking',
 3893: 'loser',
 5703: 'says',
 3898: 'lot',
 4125: 'men',
 6995: 'undetectable',
 5327: 'really',
 2665: 'fucked',
 2767: 'ghost',
 3372: 'inside',
 4127: 'mens',
 721: 'bodies',
 734: 'boo',
 7347: 'womens',
 1944: 'doctor',
 6765: 'told',
 6374: 'strains',
 3631: 'kind',
 6920: 'turn',
 1070: 'cervical',
 965: 'cancer',
 722: 'body',
 3043: 'heal',
 3080: 'helpful',
 517: 'basically',
 1851: 'die',
 5062: 'presence',
 7342: 'wolverine',
 654: 'bitches',
 3634: 'kindle',
 6922: 'turning',
 5808: 'selfhelp',
 3800: 'library',
 3402: 'interested',
 739: 'books',
 5864: 'shades',
 2886: 'grey',
 3808: 'lifechanging',
 3958: 'magic',
 6724: 'tidying',
 1741: 'declutter',
 3152: 'home',
 42: 'achieve',
 4613: 'optimum',
 3784: 'level',
 6446: 'success',
 3192: 'horrible',
 4833: 'person',
 2997: 'happy',
 3078: 'help',
 6779: 'tony',
 5551: 'robbins',
 4108: 'mei',
 3136: 'hoarding',
 5103: 'problem',
 3183: 'hoping',
 1058: 'center',
 5104: 'problems',
 2813: 'goes',
 428: 'away',
 1887: 'disappear',
 4250: 'mom',
 7375: 'world',
 1523: 'country',
 6586: 'taught',
 6710: 'throw',
 1846: 'dictators',
 4663: 'overtake',
 6112: 'snatch',
 7217: 'wealth',
 601: 'better',
 3139: 'hold',
 5482: 'retainer',
 2845: 'grade',
 2979: 'handy',
 5943: 'shovel',
 912: 'busy',
 6429: 'stuffing',
 2815: 'gold',
 914: 'butt',
 5624: 'running',
 1369: 'communiststhe',
 5660: 'san',
 2625: 'francisco',
 6903: 'trying',
 5517: 'rid',
 7383: 'worst',
 2323: 'experience',
 3807: 'life',
 2182: 'emotional',
 5746: 'screaming',
 2464: 'fighting',
 7424: 'yelling',
 953: 'came',
 1255: 'climax',
 5383: 'refused',
 3778: 'let',
 6653: 'texas',
 3391: 'instruments',
 4005: 'manual',
 939: 'calculator',
 5102: 'probably',
 485: 'bamboozled',
 2737: 'generation',
 5453: 'required',
 921: 'buy',
 1509: 'cost',
 3559: 'judy',
 3515: 'jetsons',
 3701: 'laptop',
 2693: 'future',
 2869: 'graph',
 6639: 'tesla',
 4404: 'need',
 1239: 'clean',
 5109: 'procrastinator',
 257: 'anymore',
 36: 'according',
 1746: 'deepakoprah',
 7213: 'way',
 2885: 'grew',
 4757: 'past',
 4026: 'married',
 3985: 'man',
 3922: 'lucky',
 2926: 'guy',
 2724: 'gave',
 2599: 'forever',
 1693: 'dated',
 3894: 'losers',
 3899: 'lots',
 6024: 'skaters',
 7180: 'wanna',
 2901: 'grownass',
 7343: 'woman',
 6361: 'stop',
 1696: 'dating',
 7010: 'unless',
 7165: 'wake',
 4066: 'mattress',
 3644: 'kitchen',
 6678: 'theyre',
 5860: 'sexy',
 4647: 'outside',
 3982: 'malt',
 3833: 'liquor',
 3250: 'husband',
 4144: 'met',
 7229: 'wedding',
 3091: 'hes',
 3882: 'looking',
 3742: 'league',
 5696: 'saw',
 4556: 'oh',
 2808: 'god',
 6682: 'thing',
 3747: 'learned',
 387: 'attending',
 3013: 'harvard',
 909: 'business',
 5721: 'school',
 6843: 'trap',
 346: 'ass',
 2814: 'going',
 6844: 'trapped',
 3360: 'initially',
 3643: 'kissing',
 2458: 'fifth',
 1692: 'date',
 7025: 'unusual',
 1849: 'did',
 5193: 'purpose',
 3653: 'knew',
 1028: 'catch',
 2834: 'gotta',
 3974: 'make',
 2057: 'dude',
 575: 'believe',
 5777: 'secret',
 2710: 'garden',
 5168: 'public',
 4726: 'park',
 3203: 'hosted',
 5388: 'reggae',
 2445: 'fests',
 33: 'accidentally',
 3154: 'homeless',
 3122: 'hipsters',
 6366: 'store',
 7041: 'urban',
 4642: 'outfitters',
 6683: 'things',
 1425: 'confusing',
 3121: 'hipster',
 541: 'beard',
 2398: 'fashion',
 7189: 'warmth',
 2990: 'happened',
 3850: 'living',
 831: 'broad',
 1708: 'daylight',
 1143: 'chemistry',
 3093: 'hey',
 7201: 'wassup',
 7145: 'volvo',
 2035: 'drop',
 2036: 'dropped',
 2816: 'golden',
 2720: 'gate',
 7205: 'watched',
 5621: 'run',
 4165: 'middle',
 2651: 'friends',
 335: 'asian',
 5917: 'shocked',
 7056: 'usually',
 336: 'asianamerican',
 7346: 'women',
 7220: 'wear',
 3632: 'kinda',
 2794: 'glasses',
 4608: 'opinions',
 7282: 'white',
 2058: 'dudes',
 4413: 'neighborhood',
 3972: 'major',
 1216: 'city',
 196: 'america',
 7435: 'yoko',
 4592: 'ono',
 2357: 'factory',
 7263: 'whats',
 7404: 'wrong',
 2424: 'feel',
 4886: 'picturesque',
 7251: 'wes',
 214: 'anderson',
 4309: 'movie',
 6593: 'teach',
 1482: 'cool',
 6427: 'stuff',
 7148: 'voting',
 5360: 'recycling',
 1933: 'disturbing',
 1947: 'documentaries',
 3414: 'introduce',
 3204: 'hot',
 3175: 'hookin',
 4085: 'mean',
 3976: 'makes',
 5041: 'powerful',
 2104: 'eats',
 5206: 'pussy',
 19: 'absorbing',
 5099: 'privilege',
 2225: 'entitlement',
 4257: 'money',
 3142: 'hole',
 7151: 'vulnerable',
 1609: 'crush',
 3032: 'head',
 4251: 'moment',
 3623: 'kill',
 788: 'brains',
 1330: 'colonize',
 1331: 'colonizer',
 3660: 'knowbut',
 4024: 'marriage',
 4444: 'nice',
 6148: 'somebody',
 5252: 'race',
 85: 'advantage',
 5258: 'racist',
 5699: 'say',
 2331: 'explain',
 2948: 'halffilipino',
 2950: 'halfjapanese',
 2946: 'halfchinese',
 2953: 'halfvietnamese',
 6207: 'spend',
 4822: 'percent',
 5912: 'shitting',
 3667: 'korean',
 192: 'amazing',
 3908: 'love',
 869: 'built',
 3663: 'knowmy',
 777: 'boyfriend',
 1615: 'cuban',
 4155: 'mexican',
 2927: 'guys',
 299: 'arent',
 6989: 'underrated',
 5854: 'sexiest',
 2938: 'hair',
 4402: 'neck',
 3978: 'making',
 1961: 'dolphin',
 6104: 'smooth',
 6068: 'slip',
 6059: 'slide',
 664: 'black',
 2503: 'fish',
 6731: 'tilikum',
 553: 'bed',
 4597: 'oohwee',
 4138: 'mess',
 3517: 'jewish',
 5361: 'red',
 3349: 'inflamed',
 339: 'ask',
 2303: 'exfoliated',
 6758: 'today',
 3490: 'jdate',
 3879: 'loofah',
 6659: 'thanks',
 5611: 'rug',
 898: 'burn',
 420: 'avi',
 4542: 'odor',
 6090: 'smell',
 5475: 'responsibility',
 6972: 'umami',
 2532: 'flavor',
 1347: 'comes',
 2660: 'fromi',
 7023: 'unspoken',
 6991: 'understanding',
 2947: 'halffancy',
 2951: 'halfjungle',
 1856: 'difference',
 2385: 'fancy',
 337: 'asians',
 1172: 'chinese',
 3483: 'japanese',
 3202: 'host',
 4573: 'olympics',
 3571: 'jungle',
 1906: 'diseases',
 1858: 'different',
 2097: 'east',
 1298: 'coast',
 5098: 'private',
 4942: 'playing',
 3678: 'lacrosse',
 3748: 'learning',
 3713: 'latin',
 1148: 'chess',
 5612: 'rugby',
 2469: 'filipino',
 1001: 'carlton',
 1850: 'didnt',
 7117: 'vietnamese',
 1695: 'dates',
 6780: 'took',
 5478: 'restaurant',
 7252: 'west',
 3891: 'los',
 221: 'angeles',
 944: 'called',
 4860: 'pho',
 408: 'authentic',
 5312: 'read',
 7426: 'yelp',
 4504: 'number',
 5775: 'second',
 524: 'bathroom',
 3766: 'legit',
 1982: 'double',
 6487: 'supply',
 1275: 'closet',
 2697: 'gallons',
 675: 'bleach',
 373: 'atm',
 3944: 'machine',
 2859: 'grandma',
 2795: 'glaucoma',
 4375: 'napping',
 1494: 'corner',
 7160: 'wait',
 6268: 'staff',
 3750: 'leave',
 1716: 'deaf',
 2183: 'emotionally',
 22: 'abused',
 6790: 'total',
 616: 'big',
 3119: 'hippies',
 453: 'backpack',
 6179: 'southeast',
 334: 'asia',
 7432: 'yoga',
 436: 'ayahuasca',
 1066: 'ceremonies',
 5983: 'silent',
 5487: 'retreats',
 4779: 'pay',
 5957: 'shut',
 7235: 'weekend',
 2804: 'glutenfree',
 4089: 'means',
 799: 'bread',
 6582: 'tastes',
 2638: 'freerange',
 1152: 'chewbacca',
 3774: 'lesbian',
 6694: 'thousand',
 1662: 'daily',
 2451: 'fiber',
 6232: 'spoken',
 7359: 'word',
 4962: 'poetry',
 5224: 'queef',
 5913: 'shitty',
 4960: 'poem',
 6489: 'supporting',
 932: 'caitlyn',
 3500: 'jenner',
 2690: 'funny',
 3120: 'hippydippy',
 1956: 'doing',
 3310: 'impression',
 5754: 'scrolls',
 7171: 'wall',
 859: 'buddha',
 4894: 'piggy',
 494: 'bank',
 4890: 'pier',
 3306: 'imports',
 5156: 'providing',
 2820: 'good',
 2440: 'feng',
 5955: 'shui',
 3209: 'house',
 7420: 'years',
 6116: 'sneaking',
 6510: 'suspicion',
 5142: 'propose',
 5071: 'pressuring',
 7153: 'wacky',
 3420: 'intuition',
 5141: 'proposals',
 7363: 'work',
 3319: 'incept',
 3266: 'idea',
 4002: 'mans',
 4755: 'passively',
 1951: 'doesnt',
 4139: 'message',
 2343: 'extremely',
 114: 'aggressively',
 6697: 'threaten',
 60: 'actually',
 3752: 'leaving',
 4563: 'old',
 3709: 'late',
 4435: 'new',
 6292: 'start',
 3998: 'manipulation',
 1653: 'cycle',
 6341: 'stick',
 2570: 'focus',
 6845: 'trapping',
 4360: 'nag',
 4651: 'outta',
 7215: 'weak',
 1047: 'caves',
 2762: 'gets',
 2420: 'fed',
 2483: 'fine',
 4028: 'marry',
 5143: 'proposed',
 3880: 'look',
 2284: 'exact',
 5535: 'ring',
 7182: 'wanted',
 4070: 'maybe',
 4906: 'pinterest',
 4685: 'page',
 5827: 'sent',
 594: 'best',
 2648: 'friend',
 5817: 'send',
 4907: 'pinterested',
 2206: 'engaged',
 5683: 'saturday',
 761: 'bought',
 2014: 'dress',
 2579: 'following',
 6913: 'tuesday',
 6874: 'tried',
 5316: 'ready',
 5540: 'ripe',
 5592: 'rotten',
 488: 'banana',
 6502: 'surprised',
 4555: 'offstage',
 1386: 'completely',
 5350: 'recognize',
 4836: 'personality',
 6137: 'soft',
 4511: 'nurturing',
 1963: 'domestic',
 7254: 'weve',
 3464: 'ive',
 4678: 'packed',
 3927: 'lunch',
 6003: 'single',
 3063: 'hed',
 1790: 'dependent',
 2847: 'graduated',
 2422: 'feed',
 2823: 'goodness',
 3052: 'heart',
 3426: 'investment',
 2479: 'financial',
 5314: 'reading',
 737: 'book',
 5899: 'sheryl',
 5663: 'sandberg',
 5900: 'shes',
 1478: 'coo',
 2352: 'facebook',
 7407: 'wrote',
 5533: 'riled',
 993: 'careers',
 6566: 'talking',
 1078: 'challenge',
 6011: 'sit',
 6551: 'table',
 5543: 'rise',
 3743: 'lean',
 3804: 'lie',
 7181: 'want',
 2436: 'feminism',
 3525: 'job',
 7047: 'used',
 6085: 'smart',
 1459: 'continue',
 2063: 'dumb',
 1060: 'century',
 2912: 'guess',
 6313: 'stay',
 6106: 'snacks',
 7204: 'watch',
 2160: 'ellen',
 6432: 'stupid',
 5317: 'real',
 652: 'bitch',
 5614: 'ruined',
 2316: 'expected',
 3048: 'hear',
 4869: 'phrase',
 1983: 'doubleincome',
 3211: 'household',
 7035: 'upset',
 1362: 'comments',
 4615: 'options',
 2635: 'free',
 7022: 'unscheduled',
 7024: 'unsupervised',
 3305: 'importantly',
 6233: 'sponsored',
 5911: 'shittier',
 2582: 'food',
 2086: 'earn',
 3453: 'ita',
 7167: 'walk',
 6677: 'theyll',
 3558: 'judgmental',
 3214: 'housewives',
 6383: 'street',
 3213: 'housewife',
 7169: 'walking',
 4042: 'massages',
 3926: 'lululemon',
 4710: 'pants',
 2745: 'genius',
 5485: 'retiredi',
 7400: 'write',
 2643: 'fresh',
 712: 'boat',
 6: 'abc',
 2876: 'great',
 1545: 'coworkers',
 7402: 'writing',
 6632: 'terms',
 3526: 'jobs',
 4551: 'office',
 6031: 'skin',
 5770: 'seat',
 7046: 'use',
 6763: 'toilet',
 4712: 'paper',
 1538: 'cover',
 6736: 'times',
 5641: 'sadass',
 4083: 'meal',
 4583: 'oneply',
 5195: 'purposely',
 1860: 'difficult',
 5177: 'pull',
 6902: 'try',
 5301: 'ration',
 1368: 'communist',
 2127: 'effective',
 1762: 'dehydrates',
 7325: 'wiping',
 1802: 'desert',
 3840: 'literally',
 6190: 'spat',
 1709: 'days',
 115: 'ago',
 3941: 'macgyver',
 442: 'baby',
 7323: 'wipe',
 4243: 'moisten',
 448: 'backfired',
 2486: 'fingers',
 833: 'broke',
 1865: 'digitally',
 6344: 'stimulated',
 1969: 'doo',
 2487: 'finish',
 5629: 'rushed',
 4718: 'paranoid',
 5920: 'shoes',
 6988: 'underneath',
 6274: 'stall',
 1534: 'courtneys',
 3837: 'listening',
 7162: 'waiting',
 6737: 'timing',
 3246: 'hurry',
 2427: 'feels',
 934: 'caked',
 3875: 'long',
 1683: 'dare',
 5741: 'scratch',
 6994: 'underwear',
 2195: 'end',
 3883: 'looks',
 2826: 'goonies',
 4320: 'muffle',
 7381: 'worry',
 7093: 'velocity',
 6256: 'squeeze',
 1131: 'cheeks',
 6494: 'sure',
 6071: 'slow',
 6320: 'steady',
 4675: 'pace',
 7016: 'unpredictable',
 4471: 'noise',
 6453: 'suddenly',
 2245: 'escapes',
 827: 'brings',
 1745: 'deep',
 5873: 'shame',
 694: 'blow',
 2106: 'echo',
 5498: 'reverberate',
 2200: 'ends',
 2958: 'hallways',
 7207: 'watching',
 4430: 'netflix',
 3436: 'ipad',
 746: 'boring',
 5448: 'repressed',
 5910: 'shits',
 3836: 'listen',
 4959: 'podcasts',
 4924: 'planet',
 7184: 'wantyou',
 1929: 'distracting',
 3892: 'lose',
 5469: 'respect',
 3141: 'holds',
 6168: 'sort',
 1576: 'credence',
 3049: 'heard',
 4424: 'nerve',
 489: 'bananas',
 2882: 'green',
 478: 'ballet',
 2531: 'flats',
 2406: 'fatherinlaw',
 6013: 'sitdown',
 5344: 'recently',
 6564: 'talk',
 5155: 'provide',
 1162: 'children',
 5100: 'privileged',
 1160: 'childhood',
 6615: 'telling',
 1470: 'conversation',
 6155: 'son',
 6990: 'understand',
 2087: 'earning',
 1185: 'choose',
 5477: 'rest',
 1193: 'chose',
 5128: 'promise',
 2085: 'early',
 5486: 'retirement',
 4090: 'meant',
 1855: 'dieting',
 2103: 'eating',
 2647: 'fried',
 1155: 'chicken',
 2676: 'fulfilling',
 1813: 'destiny',
 1210: 'circle',
 2348: 'eyelashes',
 4315: 'mrs',
 4681: 'pacman',
 3779: 'lets',
 5362: 'redecoratei',
 1912: 'disgusting',
 4841: 'pervert',
 2893: 'gross',
 2476: 'filthy',
 227: 'animal',
 6293: 'started',
 5007: 'porn',
 7443: 'young',
 106: 'age',
 2993: 'happens',
 7452: 'yyou',
 5967: 'sicker',
 3287: 'images',
 1564: 'crave',
 3406: 'internet',
 7441: 'youi',
 3274: 'idiot',
 5322: 'realize',
 7248: 'went',
 1557: 'craigslist',
 5023: 'posted',
 6742: 'tiny',
 2434: 'female',
 5788: 'seeking',
 205: 'anal',
 1559: 'crash',
 3979: 'male',
 3039: 'heads',
 7008: 'universe',
 5998: 'simultaneously',
 2335: 'explode',
 2629: 'freaked',
 5710: 'scared',
 4689: 'pain',
 130: 'aint',
 7212: 'wax',
 2347: 'eyebrows',
 6170: 'sorts',
 1569: 'crazy',
 1841: 'dick',
 2276: 'evil',
 5780: 'secrets',
 3806: 'lies',
 5832: 'sephora',
 5208: 'puts',
 6685: 'thinking',
 1657: 'dad',
 1699: 'dave',
 2268: 'eventually',
 1090: 'change',
 1122: 'cheat',
 3403: 'interesting',
 3143: 'holes',
 7442: 'youll',
 5859: 'sexually',
 54: 'active',
 5479: 'result',
 3841: 'little',
 651: 'bit',
 6390: 'stretched',
 2478: 'finally',
 2433: 'felt',
 1087: 'chance',
 3959: 'magical',
 2391: 'fantasy',
 5020: 'possible',
 1896: 'discover',
 5145: 'prostate',
 1433: 'conqueror',
 3026: 'havent',
 6856: 'treat',
 6778: 'tonight',
 3843: 'live',
 7437: 'yolo',
 6113: 'sneak',
 5204: 'pushpush',
 6926: 'tushtush',
 363: 'atari',
 5464: 'resistance',
 6259: 'squirmy',
 7378: 'wormy',
 6717: 'thumb',
 6445: 'succeed',
 2726: 'gay',
 2413: 'fear',
 6924: 'turns',
 2249: 'especially',
 4148: 'metamorphosizes',
 4944: 'pleasure',
 2345: 'eye',
 1897: 'discovered',
 4464: 'nirvana',
 3681: 'lady',
 1266: 'clit',
 2350: 'eyes',
 3889: 'lord',
 5534: 'rim',
 6998: 'unfortunately',
 2633: 'freaky',
 340: 'asked',
 6188: 'spank',
 1950: 'does',
 21: 'abuse',
 6411: 'strongheaded',
 3904: 'loudmouthed',
 1062: 'ceos',
 5595: 'roughed',
 7183: 'wants',
 1465: 'control',
 5545: 'risk',
 1180: 'choke',
 6745: 'tired',
 749: 'boss',
 555: 'bedroom',
 4288: 'motherfucker',
 3297: 'impact',
 486: 'ban',
 751: 'bossy',
 2153: 'elementary',
 5723: 'schools',
 5856: 'sexist',
 779: 'boys',
 3385: 'instead',
 5702: 'saying',
 6491: 'supposed',
 2300: 'executive',
 3739: 'leadership',
 6030: 'skills',
 5597: 'roundabout',
 1626: 'cunt',
 2480: 'financially',
 1068: 'certain',
 4964: 'point',
 1526: 'couple',
 1349: 'comfortably',
 94: 'afford',
 6056: 'sliced',
 3991: 'mango',
 2583: 'foods',
 3326: 'income',
 784: 'bracket',
 6403: 'striving',
 7449: 'youve',
 4368: 'named',
 4466: 'noah',
 5337: 'rebecca',
 3647: 'kiwi',
 1680: 'danielle',
 4903: 'pineapple',
 10: 'able',
 6407: 'stroll',
 5971: 'sidewalk',
 5222: 'quarter',
 5087: 'princess',
 7048: 'useful',
 88: 'advice',
 840: 'brothers',
 6010: 'sisters',
 4692: 'paintballing',
 7116: 'vietnam',
 7101: 'veteran',
 5845: 'seven',
 2944: 'half',
 4269: 'months',
 5056: 'pregnant',
 5297: 'rare',
 1351: 'comic',
 4825: 'perform',
 1352: 'comics',
 2736: 'generally',
 1016: 'case',
 7234: 'week',
 443: 'babys',
 4887: 'piece',
 239: 'annoying',
 1661: 'dads',
 397: 'audience',
 3106: 'hilarious',
 3272: 'identify',
 2376: 'fame',
 6529: 'swells',
 5401: 'relatable',
 6452: 'sudden',
 1102: 'chapping',
 4462: 'nipples',
 2423: 'feeding',
 7221: 'wearing',
 2661: 'frozen',
 1837: 'diaper',
 4407: 'needs',
 5950: 'shredding',
 2989: 'happen',
 6280: 'standup',
 6447: 'successful',
 2383: 'famous',
 1894: 'discouraged',
 3027: 'having',
 3619: 'kid',
 3686: 'lame',
 6314: 'stayathome',
 2010: 'dream',
 6970: 'ultimate',
 7348: 'won',
 3659: 'knowanother',
 1895: 'discouraging',
 6849: 'travel',
 379: 'attached',
 1854: 'dies',
 1756: 'definitely',
 2908: 'guaranteed',
 633: 'billion',
 ...}

In [7]:
# Now that we have the corpus (term-document matrix) and id2word (dictionary of location: term),
# we need to specify two other parameters as well - the number of topics and the number of passes
lda = models.LdaModel(corpus=corpus, id2word=id2word, num_topics=2, passes=10)
lda.print_topics()

[(0,
  '0.009*"fucking" + 0.006*"fuck" + 0.006*"shit" + 0.005*"say" + 0.005*"theyre" + 0.005*"didnt" + 0.005*"thing" + 0.005*"hes" + 0.005*"going" + 0.005*"theres"'),
 (1,
  '0.006*"dad" + 0.005*"oh" + 0.004*"going" + 0.004*"say" + 0.004*"hey" + 0.004*"shes" + 0.004*"mom" + 0.004*"shit" + 0.004*"want" + 0.004*"day"')]

In [8]:
# LDA for num_topics = 3
lda = models.LdaModel(corpus=corpus, id2word=id2word, num_topics=3, passes=10)
lda.print_topics()

[(0,
  '0.008*"fucking" + 0.007*"fuck" + 0.006*"cause" + 0.006*"theyre" + 0.006*"thing" + 0.005*"theres" + 0.005*"say" + 0.005*"really" + 0.005*"day" + 0.005*"good"'),
 (1,
  '0.006*"dad" + 0.006*"love" + 0.005*"want" + 0.005*"say" + 0.005*"going" + 0.005*"oh" + 0.004*"hey" + 0.004*"shes" + 0.004*"did" + 0.004*"little"'),
 (2,
  '0.009*"fucking" + 0.009*"shit" + 0.006*"didnt" + 0.005*"hes" + 0.005*"fuck" + 0.005*"say" + 0.004*"did" + 0.004*"want" + 0.004*"theyre" + 0.004*"come"')]

In [9]:
# LDA for num_topics = 4
lda = models.LdaModel(corpus=corpus, id2word=id2word, num_topics=4, passes=10)
lda.print_topics()

[(0,
  '0.006*"cause" + 0.006*"says" + 0.005*"really" + 0.005*"say" + 0.005*"mean" + 0.004*"goes" + 0.004*"oh" + 0.004*"way" + 0.004*"didnt" + 0.004*"id"'),
 (1,
  '0.010*"shit" + 0.005*"fuck" + 0.005*"lot" + 0.005*"didnt" + 0.005*"oh" + 0.005*"man" + 0.005*"ahah" + 0.005*"fucking" + 0.004*"black" + 0.004*"hes"'),
 (2,
  '0.008*"love" + 0.007*"bo" + 0.007*"stuff" + 0.007*"repeat" + 0.005*"want" + 0.005*"cos" + 0.005*"fucking" + 0.005*"eye" + 0.005*"um" + 0.005*"contact"'),
 (3,
  '0.010*"fucking" + 0.007*"fuck" + 0.007*"shit" + 0.006*"say" + 0.006*"theyre" + 0.006*"going" + 0.006*"thing" + 0.005*"hes" + 0.005*"went" + 0.005*"theres"')]

## 1.3 Topic Modeling - Attempt # 2 (Nouns Only)

In [10]:
# Let's create a function to pull out nouns from a string of text
from nltk import word_tokenize, pos_tag

def nouns(text):
    '''Given a string of text, tokenize the text and pull out only the nouns.'''
    is_noun = lambda pos: pos[:2] == 'NN'
    tokenized = word_tokenize(text)
    all_nouns = [word for (word, pos) in pos_tag(tokenized) if is_noun(pos)] 
    return ' '.join(all_nouns)

In [11]:

# Read in the cleaned data, before the CountVectorizer step
data_clean = pd.read_pickle('data_clean.pkl')
data_clean

                                                transcript
ali      ladies and gentlemen please welcome to the sta...
anthony  thank you thank you thank you san francisco th...
bill      all right thank you thank you very much thank...
bo       bo what old macdonald had a farm e i e i o and...
dave     this is dave he tells dirty jokes for a living...
hasan      whats up davis whats up im home i had to bri...
jim         ladies and gentlemen please welcome to the ...
joe         ladies and gentlemen welcome joe rogan  wha...
john     all right petunia wish me luck out there you w...
louis    introfade the music out lets roll hold there l...
mike     wow hey thank you thanks thank you guys hey se...
ricky    hello hello how you doing great thank you wow ...

In [12]:
import nltk
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\yrobi\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

In [13]:
# Apply the nouns function to the transcripts to filter only on nouns
data_nouns = pd.DataFrame(data_clean.transcript.apply(nouns))
data_nouns

                                                transcript
ali      ladies gentlemen stage ali hi thank hello na s...
anthony  thank thank people i em i francisco city world...
bill     thank thank pleasure georgia area oasis i june...
bo       macdonald farm e i o farm pig e i i snort macd...
dave     jokes living stare work profound train thought...
hasan    whats davis whats home i netflix la york i son...
jim      ladies gentlemen stage mr jim jefferies thank ...
joe      ladies gentlemen joe fuck thanks phone fuckfac...
john     petunia thats hello hello chicago thank crowd ...
louis    music lets lights lights thank i i place place...
mike     wow hey thanks look insane years everyone i id...
ricky    hello thank fuck thank im gon youre weve money...

In [14]:

# Create a new document-term matrix using only nouns
from sklearn.feature_extraction import text
from sklearn.feature_extraction.text import CountVectorizer

# Re-add the additional stop words since we are recreating the document-term matrix
add_stop_words = ['like', 'im', 'know', 'just', 'dont', 'thats', 'right', 'people',
                  'youre', 'got', 'gonna', 'time', 'think', 'yeah', 'said']
stop_words = text.ENGLISH_STOP_WORDS.union(add_stop_words)

# Recreate a document-term matrix with only nouns
cvn = CountVectorizer(stop_words=stop_words)
data_cvn = cvn.fit_transform(data_nouns.transcript)
data_dtmn = pd.DataFrame(data_cvn.toarray(), columns=cvn.get_feature_names())
data_dtmn.index = data_nouns.index
data_dtmn

,aaaaahhhhhhh,aaaaauuugghhhhhh,aaaahhhhh,aah,abc,abcs,ability,abortion,abortions,abuse,...,yummy,ze,zealand,zee,zeppelin,zillion,zombie,zombies,zoo,éclair
ali,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
anthony,0,0,0,0,0,0,0,2,0,0,...,0,0,10,0,0,0,0,0,0,0
bill,0,0,0,0,0,1,0,0,0,0,...,0,1,0,0,0,1,1,1,0,0
bo,1,1,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
dave,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
hasan,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
jim,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
joe,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
john,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
louis,0,0,0,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
mike,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,0
ricky,0,0,0,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0

In [15]:
# Create the gensim corpus
corpusn = matutils.Sparse2Corpus(scipy.sparse.csr_matrix(data_dtmn.transpose()))

# Create the vocabulary dictionary
id2wordn = dict((v, k) for k, v in cvn.vocabulary_.items())

In [16]:
# Let's start with 2 topics
ldan = models.LdaModel(corpus=corpusn, num_topics=2, id2word=id2wordn, passes=10)
ldan.print_topics()

[(0,
  '0.011*"thing" + 0.010*"life" + 0.010*"shit" + 0.009*"fuck" + 0.008*"day" + 0.008*"man" + 0.008*"guy" + 0.008*"cause" + 0.008*"hes" + 0.007*"gon"'),
 (1,
  '0.008*"day" + 0.007*"way" + 0.006*"man" + 0.006*"thing" + 0.006*"hes" + 0.006*"shit" + 0.006*"dad" + 0.006*"lot" + 0.005*"life" + 0.005*"years"')]

In [17]:
# Let's try topics = 3
ldan = models.LdaModel(corpus=corpusn, num_topics=3, id2word=id2wordn, passes=10)
ldan.print_topics()

[(0,
  '0.010*"day" + 0.009*"thing" + 0.008*"man" + 0.008*"cause" + 0.007*"way" + 0.007*"fuck" + 0.007*"things" + 0.006*"shit" + 0.006*"guy" + 0.006*"hes"'),
 (1,
  '0.014*"life" + 0.011*"thing" + 0.008*"hes" + 0.007*"cause" + 0.007*"course" + 0.006*"kids" + 0.006*"tit" + 0.006*"guy" + 0.005*"shit" + 0.005*"way"'),
 (2,
  '0.010*"shit" + 0.008*"hes" + 0.007*"life" + 0.007*"man" + 0.007*"dad" + 0.007*"day" + 0.006*"dude" + 0.005*"fuck" + 0.005*"thing" + 0.005*"stuff"')]

In [18]:
# Let's try 4 topics
ldan = models.LdaModel(corpus=corpusn, num_topics=4, id2word=id2wordn, passes=10)
ldan.print_topics()

[(0,
  '0.011*"man" + 0.009*"fuck" + 0.008*"day" + 0.008*"shit" + 0.008*"thing" + 0.007*"women" + 0.006*"guy" + 0.006*"hes" + 0.006*"lot" + 0.006*"way"'),
 (1,
  '0.001*"life" + 0.001*"shit" + 0.001*"man" + 0.001*"thing" + 0.001*"hes" + 0.001*"dad" + 0.000*"lot" + 0.000*"fuck" + 0.000*"cause" + 0.000*"way"'),
 (2,
  '0.012*"thing" + 0.011*"day" + 0.009*"life" + 0.009*"hes" + 0.008*"way" + 0.007*"shit" + 0.007*"joke" + 0.007*"kids" + 0.007*"guy" + 0.007*"years"'),
 (3,
  '0.008*"shit" + 0.008*"cause" + 0.007*"life" + 0.007*"dad" + 0.007*"fuck" + 0.007*"house" + 0.007*"man" + 0.006*"lot" + 0.006*"shes" + 0.006*"day"')]

In [19]:
# Let's create a function to pull out nouns from a string of text
def nouns_adj(text):
    '''Given a string of text, tokenize the text and pull out only the nouns and adjectives.'''
    is_noun_adj = lambda pos: pos[:2] == 'NN' or pos[:2] == 'JJ'
    tokenized = word_tokenize(text)
    nouns_adj = [word for (word, pos) in pos_tag(tokenized) if is_noun_adj(pos)] 
    return ' '.join(nouns_adj)

In [22]:
# Apply the nouns function to the transcripts to filter only on nouns
data_nouns_adj = pd.DataFrame(data_clean.transcript.apply(nouns_adj))
data_nouns_adj

                                                transcript
ali      ladies gentlemen welcome stage ali wong hi wel...
anthony  thank san francisco thank good people surprise...
bill     right thank thank pleasure greater atlanta geo...
bo       old macdonald farm e i i o farm pig e i i snor...
dave     dirty jokes living stare most hard work profou...
hasan    whats davis whats im home i netflix special la...
jim      ladies gentlemen welcome stage mr jim jefferie...
joe      ladies gentlemen joe fuck san francisco thanks...
john     right petunia august thats good right hello he...
louis    music lets lights lights thank much i i i nice...
mike     wow hey thanks hey seattle nice look crazy ins...
ricky    hello great thank fuck thank lovely welcome im...

In [23]:
# Create a new document-term matrix using only nouns and adjectives, also remove common words with max_df
cvna = CountVectorizer(stop_words=stop_words, max_df=.8)
data_cvna = cvna.fit_transform(data_nouns_adj.transcript)
data_dtmna = pd.DataFrame(data_cvna.toarray(), columns=cvna.get_feature_names())
data_dtmna.index = data_nouns_adj.index
data_dtmna

,aaaaah,aaaaahhhhhhh,aaaaauuugghhhhhh,aaaahhhhh,aah,abc,abcs,ability,abject,able,...,ze,zealand,zee,zeppelin,zero,zillion,zombie,zombies,zoo,éclair
ali,0,0,0,0,0,1,0,0,0,2,...,0,0,0,0,0,0,1,0,0,0
anthony,0,0,0,0,0,0,0,0,0,0,...,0,10,0,0,0,0,0,0,0,0
bill,1,0,0,0,0,0,1,0,0,1,...,1,0,0,0,0,1,1,1,0,0
bo,0,1,1,1,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
dave,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
hasan,0,0,0,0,0,0,0,0,0,1,...,0,0,2,0,0,0,0,0,0,0
jim,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
joe,0,0,0,0,0,0,0,0,0,2,...,0,0,0,0,0,0,0,0,0,0
john,0,0,0,0,0,0,0,0,0,3,...,0,0,0,0,0,0,0,0,0,1
louis,0,0,0,0,3,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
mike,0,0,0,0,0,0,0,0,0,0,...,0,0,0,2,0,0,0,0,0,0
ricky,0,0,0,0,0,0,0,1,1,2,...,0,0,0,0,0,0,0,0,1,0

In [25]:
# Create the gensim corpus
corpusna = matutils.Sparse2Corpus(scipy.sparse.csr_matrix(data_dtmna.transpose()))

# Create the vocabulary dictionary
id2wordna = dict((v, k) for k, v in cvna.vocabulary_.items())

In [26]:
# Let's start with 2 topics
ldana = models.LdaModel(corpus=corpusna, num_topics=2, id2word=id2wordna, passes=10)
ldana.print_topics()

[(0,
  '0.004*"mom" + 0.004*"parents" + 0.003*"door" + 0.003*"friend" + 0.003*"wife" + 0.003*"dick" + 0.002*"york" + 0.002*"hasan" + 0.002*"jenny" + 0.002*"clinton"'),
 (1,
  '0.007*"joke" + 0.004*"jokes" + 0.003*"bo" + 0.003*"ass" + 0.003*"um" + 0.003*"guns" + 0.003*"repeat" + 0.003*"eye" + 0.003*"anthony" + 0.003*"party"')]

In [27]:
# Let's try 3 topics
ldana = models.LdaModel(corpus=corpusna, num_topics=3, id2word=id2wordna, passes=10)
ldana.print_topics()

[(0,
  '0.006*"mom" + 0.005*"parents" + 0.004*"joke" + 0.004*"hasan" + 0.004*"clinton" + 0.003*"york" + 0.003*"cow" + 0.003*"nuts" + 0.003*"tit" + 0.002*"food"'),
 (1,
  '0.005*"joke" + 0.004*"bo" + 0.003*"guns" + 0.003*"jokes" + 0.003*"um" + 0.003*"repeat" + 0.003*"son" + 0.003*"ahah" + 0.003*"mad" + 0.003*"ass"'),
 (2,
  '0.005*"jenny" + 0.003*"husband" + 0.003*"ok" + 0.003*"gun" + 0.003*"morning" + 0.003*"sudden" + 0.003*"accident" + 0.003*"sense" + 0.002*"love" + 0.002*"marriage"')]

In [28]:
# Let's try 4 topics
ldana = models.LdaModel(corpus=corpusna, num_topics=4, id2word=id2wordna, passes=10)
ldana.print_topics()

[(0,
  '0.004*"bo" + 0.003*"jenny" + 0.003*"repeat" + 0.003*"ahah" + 0.003*"gay" + 0.003*"comedy" + 0.003*"friend" + 0.003*"door" + 0.003*"dick" + 0.003*"love"'),
 (1,
  '0.013*"joke" + 0.010*"anthony" + 0.007*"grandma" + 0.006*"mad" + 0.006*"jokes" + 0.006*"shark" + 0.005*"mom" + 0.005*"san" + 0.004*"zealand" + 0.004*"today"'),
 (2,
  '0.004*"joke" + 0.004*"hasan" + 0.004*"parents" + 0.003*"guns" + 0.003*"ass" + 0.003*"class" + 0.003*"mom" + 0.003*"dog" + 0.003*"nuts" + 0.003*"tit"'),
 (3,
  '0.007*"mom" + 0.007*"clinton" + 0.005*"husband" + 0.005*"cow" + 0.004*"ok" + 0.004*"wife" + 0.003*"pregnant" + 0.003*"parents" + 0.003*"movie" + 0.003*"ass"')]

In [29]:
# Our final LDA model (for now)
ldana = models.LdaModel(corpus=corpusna, num_topics=4, id2word=id2wordna, passes=80)
ldana.print_topics()

[(0,
  '0.004*"mom" + 0.004*"gun" + 0.004*"ass" + 0.004*"hasan" + 0.004*"guns" + 0.003*"class" + 0.003*"son" + 0.003*"parents" + 0.003*"husband" + 0.003*"brown"'),
 (1,
  '0.009*"ahah" + 0.007*"nigga" + 0.006*"gay" + 0.004*"son" + 0.004*"oj" + 0.004*"ghetto" + 0.004*"motherfucker" + 0.004*"young" + 0.004*"kevin" + 0.003*"mad"'),
 (2,
  '0.008*"joke" + 0.005*"jokes" + 0.004*"bo" + 0.003*"eye" + 0.003*"repeat" + 0.003*"dead" + 0.003*"anthony" + 0.003*"nuts" + 0.003*"contact" + 0.003*"brain"'),
 (3,
  '0.006*"clinton" + 0.006*"jenny" + 0.005*"parents" + 0.005*"friend" + 0.005*"mom" + 0.004*"cow" + 0.004*"wife" + 0.004*"john" + 0.003*"accident" + 0.003*"idea"')]

In [30]:
# Let's take a look at which topics each transcript contains
corpus_transformed = ldana[corpusna]
list(zip([a for [(a,b)] in corpus_transformed], data_dtmna.index))

[(0, 'ali'),
 (2, 'anthony'),
 (0, 'bill'),
 (2, 'bo'),
 (1, 'dave'),
 (0, 'hasan'),
 (0, 'jim'),
 (2, 'joe'),
 (3, 'john'),
 (2, 'louis'),
 (3, 'mike'),
 (2, 'ricky')]

For a first pass of LDA, these kind of make sense.
* Topic 0: mom, parents [Anthony, Hasan, Louis, Ricky]
* Topic 1: husband, wife [Ali, John, Mike]
* Topic 2: guns [Bill, Bo, Jim]
* Topic 3: profanity [Dave, Joe]